* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(28, 27, 27);
    color: #fff;
    font-family: 'Oswald', sans-serif;
    cursor:auto;
}

/* -------------SignUP Page------------- */

.main-page {
    display: flex;
    background-color: rgb(57, 56, 56);
    margin: 5vh 10vw;
}

.secondary-block {
    display: flex;
    width: 25vw;
    height: 85vh;
    background-image: url(img/image\ \(2\).png) ;
    background-repeat: no-repeat;
    background-size: cover;
    border-right: solid greenyellow 3px;
    
}
.secondary-block h2{
    transform: rotate(270deg);
    margin: auto;
    font-size: 50px;
    font-weight: 500;
}   

.primary-block {
    margin: auto;
}

.title-block {
    margin-bottom: 4vh;
}
.title-block h1 {
    font-size: 40px;
}
.title-block p {
    font-size: 20px ;
    font-weight: 400 ;
    color: rgb(140, 137, 137);
}

form {
    width: 42vw;
}



input {
    border: 1px solid rgb(3, 194, 82);
    color: #fff;
    background-color: rgb(57, 56, 56);
    padding: 7px 15px;
    width: 40vw;
    height: 35px;
    margin: 10px 0;
    font-weight: 100;
    font-size: 15px;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.btn-sub {
    padding: 20px 40px;
    background-color: rgb(175, 253, 162);
    color: black;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

.btn-sub:hover {
    background-color: rgb(62, 90, 57);
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.under_input_line {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;

}

.login-block {
    font-size: 20px;
    font-weight: 200;

}
.login-block a {
    text-decoration: none;
    color: greenyellow;
}
.login-block a:hover {
    color: rgb(47, 92, 39);
    
}


/*---------- Login Page ----------*/

